*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.body{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.menu{
    padding:26px 120px;
    background-color: #f1f1f1;  
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.navegacao{
    line-height: 19px;
    margin: 05px;

    display: flex;
    flex-wrap: wrap;

    list-style-type: none;
 }

.link{
    margin:0px 10px 0px 10px;
    color: #000000;
    text-decoration: none;
}

.cabecalho{
    position: absolute;
    width: 1440px;
    height: 700px;
    left: 0px;
    top: 120px;
    background-image: url(../imagens/pexels-pixabay-2159\ 1.jpg);
}

.section1{
    width: 1440px;
    height: 700px;
}

.titulo{
    width: 606px;
    height: 110px;
    left: 416px;
    top: 197px;
    
    margin-bottom: 107px;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
     
    text-align: center;
    
    color: #F1F1F1;
    
    text-shadow: 0px 4px 4px rgba(1, 1, 1, 0.5);
}

.imagemFoguteTitulo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../imagens/pexels-pixabay-2159\ 1.png), linear-gradient(to right,rgb(15, 15, 15),rgb(0, 0, 0));
    background-position: top;
    background-size: cover;
    height:700px ;
    width: 100%;


    /*position: absolute;
    width: 1440px;
    height: 700px;
    left: 0px;
    top: 120px;

    background: url(../imagens/pexels-pixabay-2159\ 1.jpg);*/

}

.botaoRealizarInscricao{
    width: 360px;
    height: 67px;
    background-color: #692DE9;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    border: none;
    border-radius: 4px;
    font-size: 24px;
    color: white;
    margin-bottom:106px ;
    cursor: pointer;
}

.jornada{
    width: 360px;
    height: 184px;
    background-color: rgba(3, 3, 3, 0.8);
    border-radius: 5px;
}

.container-caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloJornada{  
    width: 290px;
    height: 50px;
    left: 574px;
    top: 613px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    color: #F1F1F1;
}

.horasContador{
 
    width: 49px;
    height: 37px;
    
    top: 671px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 50px;

    display: flex;
    align-items: center;
    text-align: center;

color: #692DE9;
}

.textoContador{
  
}