*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.menu{
    padding-top: 10px;
    background-color: #f1f1f1;  
}

.link{
    color: #000000;
    text-decoration: none;
    padding-left: 10px;
}

.cabecalho{
    position: absolute;
    width: 1440px;
    height: 700px;
    left: 0px;
    top: 120px;
    background-image: url(../imagens/pexels-pixabay-2159\ 1.jpg)
}

.titulo{
    color: #FFFFFF;
    padding-bottom: 0px;
    font-family: 'Quicksand', sans-serif;
}